<!DOCTYPE html>

<!-- The webpages will all be in US english -->
<html lang="en-US"      

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Homepage</title>

    <!--Determine syle layout for the top of the homepage (Subject to change)-->
    <style>
        h1 {text-align: center;}
        h4 {text-align: center;}
        p {text-align: center;}
    </style>

</head>
<body>
    <h1 style="background-color: MediumSeaGreen">CommUNITY</h1>
    <h4 style="background-color: lightgray;">Volunteering Made Easy</h4>


    <!--Link to Calendar when clicked onto from the homepage-->
    <div class="center"; style="text-align: center;">
        <a href="calendar.html">myCalendar</a>
        <a href="pfp.html">Profile</a>
    </div>
    

    <!--Link to Profile page clicked onto from the homepage-->
    <div style="text-align: center;"> 
        
    </div>
   

    <p> Start Volunteering!<br>
        Connect with People Today!<br><br><br>
        <h2>CONTENT COMING SOON (IN DEVELOPMENT)</h2>
    </p>

</body>

</html>
